@using CodeAcademy.Areas.Admin.Models.ViewModels
@model List<LessonHourViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    @await Component.InvokeAsync("UpperPanel", new { email = User.Identity.Name })
    <h3>Lesson Hour CRUD!!!</h3>
    <br />
    @if (!Model.Any())
    {
        <h4>No lesson hours...</h4>
    }
        <br />
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <input type="button" id="hour-create" class="btn btn-success" value="Create new" />
                <br />
                <ul class="list-group">
                    @foreach (var hour in Model)
                    {
                        <li class="list-group-item">
                            <input type="hidden" value="@hour.Id" />
                            <p class="lead">@hour.Name</p>
                            <input type="button" class="hour-edit btn btn-warning" value="Edit" />
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>


    @* New hour form *@
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div id="new-hour" class="custom-modal">
                    <h5 class="h5 text-center">New Hour</h5>
                    <form asp-antiforgery="true" asp-area="Admin" asp-controller="LessonHours" asp-action="Create" class="form-group" method="post">
                        <label>Name</label>
                        <input type="text" required name="Name" placeholder="Hour name..." class="form-control" />
                        <br />
                        <input type="submit" value="Create Hour" class="btn btn-success" />
                        <input type="button" value="Close" id="close-create-hour" class="btn btn-danger" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    @* Edit hour form *@
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div id="edit-hour" class="custom-modal">
                    <h5 class="h5 text-center">Edit Hour</h5>
                    <form asp-antiforgery="true" asp-area="Admin" asp-controller="LessonHours" asp-action="Edit" class="form-group" method="post">
                        <input type="hidden" id="id" name="Id" value="" />
                        <label>Name</label>
                        <input type="text" required id="edit-hour-name" name="name" value="" placeholder="Hour name..." class="form-control" />
                        <br />
                        <input type="submit" value="Update Hour" class="btn btn-success" />
                        <input type="button" value="Close" id="close-edit-hour" class="btn btn-danger" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <style>
        .custom-modal {
            padding: 2vh;
            display: none;
            position: fixed;
            width: 25vw;
            z-index: 3;
            top: 15vh;
            left: 35vw;
            overflow: auto;
            border: 1px solid black;
            border-radius: 1vh;
            background-color: #ababab;
        }
    </style>

    <script>
        var hourId;
        var hourName;

        $("#hour-create").click(function () {
            $("#new-hour").css("display", "block");
        });

        $("#close-create-hour").click(function () {
            $("#new-hour").css("display", "none");
        });

        $(".hour-edit").click(function (e) {
            hourId = $(e.target).prev().prev().val();
            hourName = $(e.target).prev().text();
            $("#edit-hour").css("display", "block");
            $("#edit-hour form #id").val(hourId);
            $("#edit-hour form #edit-hour-name").val(hourName);
        });

        $("#close-edit-hour").click(function () {
            $("#edit-hour").css("display", "none");
        });
    </script>
</body>
</html>
