@using CodeAcademy.Areas.Admin.Models.ViewModels
@model LessonHour
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    @await Component.InvokeAsync("UpperPanel", new { email = User.Identity.Name })
    <h3>Lesson Hour CRUD!!!</h3>
    <br />

    <form asp-area="Admin" asp-controller="LessonHours" asp-action="Create" class="form-group" method="post">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" value="" />
        <input type="radio" name="monday" value="" />
        <input type="radio" name="tuesday" value="" />
        <input type="radio" name="sunday" value="" />
        <input type="time" name="begintime" value="" />
        <input type="time" name="endtime" value="" />
        <input type="submit" class="btn btn-success"  value="Send" />
    </form>



    
    </body>
</html>
