@using CodeAcademy.Models.ViewModels
@model ResetPasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <form asp-controller="Account" asp-action="ResetPassword" method="post" class="form-control">
                    <h2>Reset your password</h2>
                    <input type="hidden" name="userid" value="@Model.UserId" /><br />
                    <input type="hidden" name="code" value="@Model.Code" /><br />
                    <label>Email</label>
                    <input type="email" name="Email" class="form-control" value="" /><br />
                    <label>Password</label>
                    <input type="password" name="Password" class="form-control" value="" /><br />
                    <label>Reenter password</label>
                    <input type="password" name="ConfirmPassword" class="form-control" value="" /><br />
                    <input type="submit" class="btn btn-default" value="Reset" />
                </form>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</body>
</html>
