
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    @await Component.InvokeAsync("UpperPanel", new { email = User.Identity.Name })

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <input type="button" class="btn btn-info" id="open-create-book" value="New Book" />
                <input type="button" id="show-all" class="btn btn-warning" value="All Books" />
            </div>
        </div>
    </div>
    <br />

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <ul class="list-group" id="books"></ul>
            </div>
            <div class="col-sm-4">
                <form id="search" method="post" asp-area="Edu" asp-controller="Books" asp-action="Search" >
                    <input class="form-control" name="search" type="text" placeholder="Enter book name..." aria-label="Search">
                    <input type="submit" class="btn btn-info" value="Search book" />
                </form>
                <br />

                <form asp-area="Edu" asp-controller="Books" asp-action="GetBooksByFaculty" method="post">
                    <label>Faculty</label>
                    <select name="facultyid" id="faculty-search" class="form-control"></select>
                </form>
                <br />

                <form asp-area="Edu" asp-controller="Books" asp-action="GetBooksByLanguage" method="post">
                    <label>Language</label>
                    <select name="languageid" id="language-search" class="form-control"></select>
                </form>
            </div>
        </div>
    </div>


    @* New book form *@
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div id="new-book" class="custom-modal">
                    <h5 class="h5 text-center">New Book</h5>
                    <form id="bookform" asp-area="Edu" asp-controller="Books" asp-action="Add" class="form-group" method="post" enctype="multipart/form-data">
                        <label>Faculty</label>
                        <select name="facultyid" id="faculty" class="form-control"></select>
                        <label>Author</label>
                        <input type="text" class="form-control" id="author" required name="author" value="" />
                        <label>Name</label>
                        <input type="text" class="form-control" id="name" required name="name" value="" />
                        <label>Description</label>
                        <input type="text" class="form-control" id="description" required name="description" value="" />
                        <label>Language</label>
                        <select name="languageid" id="language" class="form-control"></select>
                        <label>Page count</label>
                        <input type="number" class="form-control" required id="pagecount" name="pagecount" value="" />
                        <input type="file" name="book" id="book" required accept="application/pdf" class="btn file btn-info" value="Upload Book" />
                        <input type="file" name="cover" id="cover" required accept="image/*" class="btn file btn-info" value="Upload Book" />
                        <br />
                        <input type="text" readonly name="tags" class="form-control" id="book-tags"/>
                        <input type="submit" value="Create Book" id="submit-create" class="btn btn-success" />
                        <input type="button" value="Close" id="close-create-book" class="btn btn-danger" />
                    </form>
                </div>
            </div>
        </div>
    </div>


    <style>
        .book{
            display:inline-block;
            height:15vh;
        }
        .book a *{
            display:inline;
        }
        .custom-modal {
            padding: 2vh;
            display: none;
            position: fixed;
            width: 25vw;
            z-index: 3;
            top: 5vh;
            left: 35vw;
            overflow: auto;
            border: 1px solid black;
            border-radius: 1vh;
            background-color: #ababab;
        }
        .cover{
            height:100%;
        }
    </style>

    <script>
        var facTags = [];
        var bookTags = [];
        $("#open-create-book").click(function () {
            $("#new-book").css("display", "block");
            $.ajax({
                method: "POST",
                url: "/Edu/Books/GetTagsByFacultyId/id",
                data: {
                    id: $("#faculty").val()
                }
            })
                .done(function (obj) {
                    for (var i = 0; i < obj.length; i++) {
                        facTags.push(obj[i].name.toLowerCase())
                    }
                })
                .fail(function (msg) {
                    console.log(msg)
                })
        });

        $("#close-create-book").click(function () {
            $("#new-book").css("display", "none");
        });


        $.ajax({
            method: "GET",
            url: "/Edu/Books/GetFaculties",
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    var fac = document.createElement("option");
                    fac.value = data[i].id;
                    fac.innerText = data[i].name
                    document.getElementById("faculty").appendChild(fac);
                    var facs = document.createElement("option");
                    facs.value = data[i].id;
                    facs.innerText = data[i].name
                    document.getElementById("faculty-search").appendChild(facs);
                }
            },
        });

        $.ajax({
            method: "GET",
            url: "/Edu/Books/GetLanguages",
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    var lan = document.createElement("option");
                    lan.value = data[i].id;
                    lan.innerText = data[i].name
                    document.getElementById("language").appendChild(lan);
                    var lans = document.createElement("option");
                    lans.value = data[i].id;
                    lans.innerText = data[i].name
                    document.getElementById("language-search").appendChild(lans);
                }
            },
        });

        var files = [];
        var fileReader = new FileReader()
        $('input[type=file]').on('change', function (e) {
            files.push(e.target.files[0]);
        });

        $("#faculty").change(function (e) {
            facTags = [];
            bookTags = [];
            $.ajax({
                method: "POST",
                url: "/Edu/Books/GetTagsByFacultyId/id",
                data: {
                    id: $(e.target).val()
                }
            })
                .done(function (obj) {
                    for (var i = 0; i < obj.length; i++) {
                        facTags.push(obj[i].name.toLowerCase())
                    }
                })
                .fail(function (msg) {
                    console.log(msg)
                })
        });

        $("#description").keyup(function (e) {
            var text = $(e.target).val()
            var textArr = text.split(" ")
            for (var i = 0; i < textArr.length; i++) {
                if (facTags.indexOf(textArr[i].toLowerCase()) != -1 && bookTags.indexOf(textArr[i].toLowerCase()) < 0) {
                    bookTags.push(textArr[i].toLowerCase())
                }
            }
        });

        $("#description").blur(function () {
            var taglist = "";
            $("#book-tags").val("");
            for (var i = 0; i < bookTags.length; i++) {
                var tag = bookTags[i] + " , ";
                taglist += tag;
            }
            document.getElementById("book-tags").value = taglist.substring(0, taglist.length - 2);
        });

        $.ajax({
            method: "GET",
            url: "/Edu/Books/GetAllBooks",
            success: function (data) {
                FillBooksOnPage(data)
            }
        });

        $("#show-all").click(function () {
            document.getElementById("books").innerHTML = "";
            $.ajax({
                method: "GET",
                url: "/Edu/Books/GetAllBooks",
                success: function (data) {
                    FillBooksOnPage(data)
                }
            });
        });

        function FillBooksOnPage(data) {
            var books = document.getElementById("books");

            for (var i = 0; i < data.length; i++) {

                var book = document.createElement("li");
                book.classList.add("list-group-item", "book");


                var link = document.createElement("a");
                link.target = "_blank";
                link.href = data[i].filePath;
                book.appendChild(link);

                var cover = document.createElement("img");
                cover.classList.add("img", "img-responsive", "cover")
                cover.src = data[i].imagePath;
                link.appendChild(cover);

                var text = document.createElement("p");
                text.classList.add("lead");
                text.innerText = data[i].name + " - " + data[i].author;
                link.appendChild(text);

                books.appendChild(book);
            }
        }

        $("#faculty-search").change(function (e) {
            var facId = $(e.target).val();
            $.ajax({
                method: "POST",
                url: "/Edu/Books/GetBooksByFaculty/facultyId",
                data: {
                    facultyId: facId
                }
            })
                .done(function (obj) {
                    document.getElementById("books").innerHTML = "";
                    FillBooksOnPage(obj)
                })
                .fail(function (msg) {
                    console.log(msg)
                })
        })

        $("#language-search").change(function (e) {
            var lanId = $(e.target).val()
            $.ajax({
                method: "POST",
                url: "/Edu/Books/GetBooksByLanguage/languageId",
                data: {
                    languageId: lanId
                }
            })
                .done(function (obj) {
                    document.getElementById("books").innerHTML = "";
                    FillBooksOnPage(obj)
                })
                .fail(function (msg) {
                    console.log(msg)
                })
        });

    </script>
</body>
</html>
